//
   Created by Nicole J. Nobles on 5/21/2016.


p #{new Date().getFullYear()} &copy;
    a.smoothScroll(href='/')  MeduSCAN
    |  ~ Designed and coded with &nbsp;
    span.primary
        i.fa.fa-heart
    |  by
    a(target='_blank', href='http://www.shecodez.com/') NJN
