//
   Created by Nicole J. Nobles on 6/27/2016.

md-dialog(aria-label='Alert', flex='80', flex-gt-sm='50', flex-gt-md='40')
    md-content
        md-toolbar
            .md-toolbar-tools
                md-icon.md-default-theme.material-icons warning
                h2 &nbsp; {{dialog.title}}
                span(flex='')
                md-button.md-icon-button(ng-click='cancel()', aria-label='Close dialog')
                    md-icon.md-default-theme.material-icons close

        md-dialog-content
            .md-dialog-content
                h4 Medication : {{dialog.medication._id.name}}
                    span: small  {{dialog.medication._id.type}}
                .alert.alert-danger
                    p {{dialog.msg}}
                p {{dialog.question}}
                p {{dialog.instructions}}

        md-dialog-actions(layout='row')
            md-button.md-raised.md-primary(ng-click='ok()') Give
            md-button.md-hollow(ng-click='cancel()') Cancel
