<!--<h1>Forbidden</h1>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  You are not authorized to access this resource
</div>-->

<div class="container text-center" flex layout-fill layout="row">
  <md-content layout="column" layout-align="center-center" layout-padding="layout-padding" flex="flex">
    <svg height="100" width="100">
      <polygon points="50,25 17,80 82,80" stroke-linejoin="round" style="fill:none;stroke:#ff0000;stroke-width:8"></polygon>
      <text x="42" y="74" fill="#ff0000" font-family="sans-serif" font-weight="900" font-size="42px">!</text>
    </svg>
    <div class="row"><h1> Forbidden </h1></div>
    <div class="row"><p> You are NOT authorized to access this resource. </p></div>
    <div class="row"><a ui-sref="home"> Back to home page </a></div>
  </md-content>
</div>
