<!--<h1>Page Not Found</h1>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span> Page Not Found
</div>-->

<div class="container text-center" flex layout-fill layout="row">
  <md-content layout="column" layout-align="center-center" layout-padding="layout-padding" flex="flex">
    <svg height="100" width="100">
      <polygon points="50,25 17,80 82,80" stroke-linejoin="round" style="fill:none;stroke:#ff8a00;stroke-width:8"></polygon>
      <text x="42" y="74" fill="#ff8a00" font-family="sans-serif" font-weight="900" font-size="42px">!</text>
    </svg>
    <div class="row"><h1> Page not found (404 error) </h1></div>
    <div class="row"><a ui-sref="home"> Back to home page </a></div>
  </md-content>
</div>
