//
   Created by Nicole J. Nobles on 5/21/2016.

section(data-ng-controller='HomeController as vm', flex='', layout='row')
    md-content.authForm(layout='row',  layout-align='center-center', layout-padding, ng-cloak flex)
        md-content(flex, flex-gt-sm='70', flex-gt-md='55')
            md-grid-list.tiles(md-cols='2', md-cols-sm='4', md-cols-md='4', md-cols-gt-md='6', md-row-height-gt-md='1:1', md-row-height='4:3', md-gutter='12px', md-gutter-gt-sm='8px')
                md-grid-tile(ng-repeat='tile in vm.tiles', md-rowspan='{{tile.span.row}}', md-colspan='{{tile.span.col}}', md-colspan-sm='1', md-colspan-xs='1', ng-class='tile.background', data-ui-sref='{{tile.href}}', md-ink-ripple)
                    md-icon.fa(md-font-icon='{{tile.icon}}', alt='{{tile.title}}').fa-4x
                    md-grid-tile-footer
                        h3: strong {{tile.title}}
            .newsFeed.mt-50
                p {{newsFeed.text}}

            .newsFeed-author.mt-10
                p.text-right
                    i.fa.fa-pencil
                    a(target='_blank', href='#')  {{newsFeed.author}}
                    | , {{newsFeed.date}}
