//
   Created by Nicole J. Nobles on 6/28/2016.

md-dialog(aria-label='', flex='80', flex-gt-sm='50', flex-gt-md='60')
    md-content
        md-toolbar
            .md-toolbar-tools
                h2 Legal
                span(flex='')
                md-button.md-icon-button(ng-click='cancel()', aria-label='Close dialog')
                    md-icon.md-default-theme.material-icons close

        md-dialog-content
            .md-dialog-content
                h2.text-center Privacy Policy
                br

                p MeduSCAN. ("MeduSCAN") takes the privacy of its students and teachers seriously.
                    | It is committed to protecting users' privacy while providing a personalized and
                    | valuable learning experience.

                p MeduSCAN has developed this Privacy Policy to let users know in general terms about how we manage
                    | users personal information management practices, including what personal information is
                    | collected and how it is processed and used. If users have any questions about our Privacy Policy
                    | they may contact MeduSCAN at
                    span: a(href='mailto:support@meduscan.com')  support@meduscan.com

                h3 The School Environment

                p As MeduSCAN is designed to be used in conjunction with class instruction, much of the information
                    | collected about the teachers and students is intended to be shared. MeduSCAN stores the following
                    | information that the teacher and students may choose to share with their class, colleagues or
                    | school administration:
                ul
                    li Student's/Teacher's Name
                    li Student's/Teacher's Email Address (Academic)
                    li School and Course Information
                    li Postings in Forums
                    li Messages
                p It is understood that the teacher is the class leader and that all class related information or
                    | communications are not private within the classroom and school environment ("School Environment").
                    | The sharing of the above information is therefore also subject to the privacy policies of the
                    | relevant educational institutions. If users have any questions about the sharing of this information
                    | MeduSCAN would recommend that users contact the relevant educational institutions.

                p MeduSCAN has taken all precautions to make sure that this data will not be shared outside the School
                    | Environment except as outlined in this Privacy Policy.

                h3 Collected Information
                p MeduSCAN collects information from you and any devices (phones, tablets) when you use our service,
                    | register an account, chat, and contact us.
                p MeduSCAN collects personal information through the following procedures:
                ul
                    li Registration Information
                    li Billing Information
                p The information collected may include:
                ul
                    li Name
                    li Home, Shipping, and Billing Address
                    li Telephone Number(s)
                    li Email Address
                    li IP Address, Browser, and Device Information
                    li School and Course Information
                    li Purchase and Payment Details
                    li Postings in Forums
                    li Messaging between Students and between Students and Teachers
                p You may also provide us other information through a web form (such as a support request or bug report),
                    | by updating or adding information to your account, or through your participation in community forums and chats.

                h3 Cookies
                p Cookies are small data files that are commonly stored on your device when you use websites and on-line services.
                    | They are widely used to make websites work, or to work more efficiently, as well as to provide
                    | reporting information and assist with services or personalization. There are also other technologies
                    | that are similar to cookies, which may store small amount of data on your device ("local storage").
                p MeduSCAN may use the following types of cookies and local storage (collectively called "Cookies" herein).

                p Performance and functionality Cookies: These Cookies are not essential, but help us to personalize and
                    | enhance your user experience. For example, they may help us to remember your preferences and prevent
                    | you from needing to re-enter information more than once, or to remember your ID and password so that
                    | you do not have to enter them each time you use our services.
                p If you wish to disable the use of Cookies, you may do so from your browser preferences menu of your
                    | browser software by either turning off Cookies or by using your browser's privacy mode when using
                    | our services.

                h3 What Does MeduSCAN Do with the Collected Information?

                p Collected information is used for the following purposes:
                ul
                    li To Allow the Teacher to Manage the Course
                    li To Allow Students to Use MeduSCAN Services
                    li To Enable Course Related Activities such as Forums and Communications
                    li Billing Purposes

                p MeduSCAN does not share personally identifiable information outside the School Environment, except for
                    | those purposes stated above, without first obtaining the express written consent of the individual.

                p If users provide MeduSCAN with information about another person, such users are responsible for
                    | obtaining that person's consent to the collection, use and disclosure of that person's personal
                    | information in accordance with this privacy policy and specifically for the purpose for which such
                    | users have provided it to us.

                h3 Security
                p MeduSCAN uses state of the art industry standard methods such as encryption to protect its customer's
                    | data against unauthorized use or access, alteration, unlawful or accidental destruction or loss.
                    | It should however be noted that 100% guaranty cannot be made due to constant advances in virus and
                    | hacking technology. MeduSCAN can therefore not be held responsible for data loss or alteration.

                h3 Links
                p MeduSCAN websites may contain links to other websites (such as social media contacts). MeduSCAN tries
                    | to only link to websites that share our high standards of decency, fairness and integrity. MeduSCAN
                    | tries to make sure that these links are safe for everyone, but the privacy and data collection practices
                    | on any linked websites are entirely separate from MeduSCAN and are not covered by this Privacy Policy.
                    | Other websites, which may contain material not suitable for children, may also link to MeduSCAN websites
                    | without MeduSCAN's knowledge or consent. MeduSCAN does not necessarily endorse any outside websites and
                    | MeduSCAN has no responsibility for the content, policies or actions of these websites.

                h3 Changes and Updates to the Privacy Policy
                p This Privacy Policy is effective as of June 30, 2016 and is version 1.0. MeduSCAN may, at its sole
                    | discretion, update, revise, modify and supplement from time to time this Privacy Policy.
                    | MeduSCAN's updated Privacy Policy will also be posted on MeduSCAN's website. MeduSCAN asks users
                    | to review the updated Privacy Policy as soon as possible after the amendments have been made.
                    | Users continued use of the services provided by MeduSCAN after the updated Privacy Policy takes
                    | effect will constitute users' acceptance of the updated Privacy Policy.

                h3 Changes and Access to Personal Information
                p Users have access to their personal information via their user profile from within their MeduSCAN
                    | account. Users can correct and update their personal information using a web form while logged into
                    | their account

                h3 Consent to the Gathering and Processing of Information
                p By accepting the Terms of Use users are expressly giving MeduSCAN
                    | a special declaration that users have decided by their own free will to grant MeduSCAN specific
                    | authorization to collect, process and use the personal information stipulated in this Privacy Policy
                    | and to use such information in accordance with what is stipulated in this Privacy Policy.
                    | Users are further declaring that users are aware of the purpose for MeduSCAN collecting, processing
                    | and using such information, how the processing will be conducted, how users' privacy will be protected
                    | and that users are authorized to withdraw their consent.

                h3 Contact
                p MeduSCAN's service to its users and users' trust is of utmost importance to MeduSCAN. If users have any
                    | questions about this Privacy Policy, users should contact MeduSCAN at
                    span: a(href='mailto:support@meduscan.com')  support@meduscan.com

        md-dialog-actions(layout='row')
            //md-button(ng-click='ok()') Ok
            md-button(ng-click='cancel()') Close
