//
   Created by Nicole J. Nobles on 5/24/2016.

section
    md-content.userrForm(layout='row',  layout-align='center-center', layout-padding, ng-cloak)
        md-card(flex, flex-gt-sm='50', flex-gt-md='33')
            md-toolbar
                .md-toolbar-tools
                    h2 Forgot Password

            md-card-content
                h3.text-center Restore your password
                p.small.text-center Enter your account username.
                form(name='vm.forgotPasswordForm', ng-submit='vm.askForPasswordReset(vm.forgotPasswordForm.$valid)', novalidate='', autocomplete='off')
                    br
                    alert.text-center.text-danger(ng-show='error')
                        span(ng-bind='error')
                    alert.text-center.text-success(ng-show='success')
                        span(ng-bind='success')

                    md-input-container.md-block
                        label Username
                        input(name='username', ng-model='vm.credentials.username', lowercase, required)
                        div(ng-messages='vm.forgotPasswordForm.username.$error', role='alert', md-auto-hide='true')
                            div(ng-message='required') Enter your username.

                    md-button.md-raised.md-primary(type='submit' flex) Submit

