<!--Created by Nicole J. Nobles on 6/8/2016.
--><section class="container"><br/><small><strong class="text-uppercase">{{vm.blog.category}}</strong></small><div class="page-header"><h1 data-ng-bind="vm.blog.title"></h1></div><div data-ng-show="vm.blog.isCurrentUserOwner" class="pull-right"><a data-ui-sref="blogs.edit({ blogId: vm.blog._id })" class="btn btn-warning"><i class="fa fa-edit"></i></a><a data-ng-click="vm.remove()" class="btn btn-danger"><i class="fa fa-trash"></i></a></div><small><em class="text-muted">Posted on&nbsp;<span data-ng-bind="vm.blog.created | date:'mediumDate'"></span> by&nbsp;<span data-ng-if="vm.blog.user" data-ng-bind="vm.blog.user.displayName"></span><span data-ng-if="!vm.blog.user">Deleted User</span></em></small><p data-ng-bind="vm.blog.content" class="lead"></p><br/><br/><div id="disqus_thread"><script>/**
 * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
 */
/*
 var disqus_config = function () {
 this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
 this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
 };
 */
(function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//meduscan.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();</script><noscript>Please enable JavaScript to view the<a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript></div></section>