//
   Created by Nicole J. Nobles on 5/28/2016.

section.container

    .page-header
        h1 Users

    md-input-container.md-block
        label Search...
        md-icon.fa(md-font-icon='fa-search', alt='search').fa-2x
        input(type='text', ng-model='vm.search', ng-change='vm.figureOutItemsToDisplay()')



    .list-group
        a.list-group-item(ng-repeat='user in vm.pagedItems', ui-sref='admin.user({userId: user._id})')
            h4.list-group-item-heading(ng-bind='user.displayName')
            h5.text-center
                span.primary {{user.courses.length}}
                |  Course(s) Listed  / &nbsp;
                span.primary {{user.institutions.length}}
                |  Institution(s) Listed
            strong: p.list-group-item-text.pull-right.small(ng-bind='user.roles')
            p.list-group-item-text.primary(ng-bind='user.email')
    pagination(boundary-links='true', max-size='8', items-per-page='vm.itemsPerPage', total-items='vm.filterLength', ng-model='vm.currentPage', ng-change='vm.pageChanged()')
