//
   Created by Nicole J. Nobles on 6/23/2016.

md-dialog(aria-label='Print Barcode')
   md-content
      md-toolbar
         .md-toolbar-tools
            h2 Print Barcode
            span(flex='')
            md-button.md-icon-button(ng-click='cancel()', aria-label='Close dialog')
               md-icon.md-default-theme.material-icons close

      md-dialog-content
         .md-dialog-content
            section(print-section)
               .well(layout-padding)
                  .bg-white
                     .left(style='display: inline-block; margin: 0 10px;')
                        h3: io-barcode(code='{{patient._id}}', type='CODE128B', options='bcOpts')

                     .center(style='display: inline-block; margin: auto; bottom: 0; vertical-align: middle')
                        h4 {{patient.lastName}} , {{patient.firstName}}
                        p DOB:&nbsp;
                           span(data-ng-bind="patient.dob | date:'mediumDate'")
                        p {{calcAge(patient.dob)}}Y/{{patient.gender}}&nbsp;
                           span(ng-if='patient.pregnant') Pregnant

                     .right(style='margin: 0 10px; float: right')
                        h4: small: em Updated :&nbsp;
                           span(data-ng-bind="patient.updated | date:'mediumDate'")

      md-dialog-actions(layout='row')
         md-button(ng-click='ok()' print-btn) Print
         md-button(ng-click='cancel()') Cancel
