//
   Created by Nicole J. Nobles on 6/1/2016.

section
    md-content(layout='row',  layout-align='space-around', layout-padding, ng-cloak)
        md-content(flex, flex-gt-sm='50', flex-gt-md='90')
            form(name='vm.passwordForm', ng-submit='vm.changeUserPassword(vm.passwordForm.$valid)', novalidate='', autocomplete='off')
                br
                alert.text-center.text-success(ng-show='success')
                    strong Password Changed Successfully
                alert.text-center.text-danger(type='danger', ng-show='error')
                    strong(ng-bind='error')

                md-input-container.md-block
                    label Current Password
                    input(type='password', name='currentPassword', ng-model='passwordDetails.currentPassword', required)
                    div(ng-messages='vm.passwordForm.currentPassword.$error', role='alert')
                        div(ng-message='required') Your current password is required.

                md-input-container.md-block
                    label New Password
                    input(type='password', name='newPassword', ng-model='passwordDetails.newPassword', popover='{{popoverMsg}}', popover-trigger='focus', password-validator='', required)
                    div(ng-messages='vm.passwordForm.newPassword.$error', role='alert')
                        div(ng-message='required') Enter a new password.
                        div(ng-repeat='passwordError in passwordErrors')
                            div(ng-show='vm.passwordForm.newPassword.$error.requirements') {{passwordError}}

                md-input-container.md-block
                    label Verify Password
                    input(type='password', name='verifyPassword', data-ng-model='passwordDetails.verifyPassword', password-verify='passwordDetails.newPassword', required)
                    div(ng-messages='vm.passwordForm.verifyPassword.$error', role='alert')
                        div(ng-message='required') Verify your new password.
                        div(ng-show='vm.passwordForm.verifyPassword.$error.passwordVerify') Passwords do not match.

                .form-group(ng-show='!vm.passwordForm.newPassword.$error.required')
                    label Password Requirements
                    uib-progressbar(value='requirementsProgress', type='{{requirementsColor}}')
                        span(style='color:white; white-space:nowrap;') {{requirementsProgress}}%

                br
                md-button.md-raised.md-primary(type='submit') Save Password
